<%- include('partials/header') %>
    <div class="text-center justify-content-center">
        <% if (!user) { %>
            <div class="container splash-page">
                <div class="logo-section">
                    <img class="logo" src="images/logo.jpeg" width="200px" height="200px" alt="">
                </div>
                <div class="get-started-section d-flex flex-column justify-content-center">
                    <h4 class="">Create health habits in a sustainable way</h4>
                    <a href="#" class="btn-peach w-100 btn-rounded mt-5 mb-5">Get started</a>
                    <h5>Already have an account?<span><a href="#"> Log In</a></span></h5>
                </div>
            </div>
            <% } else { %>
                <div class="container upper-bg">
                    <div class="welcome-title">
                        <h5 class="text-left pt-5">Welcome back, <%= user.name %>
                        </h5>
                    </div>
                    <div class="section-title">
                        <p class="text-left">Favourites</p>
                    </div>
                    <div class="favourites-section d-flex row">
                        <div class="favourite-section-item col-6">
                            <img src="images/plamk.png" alt="">
                        </div>
                        <div class="favourite-section-item col-6">
                            <img src="images/asana-1.png" alt="">
                        </div>
                    </div>
                    <div class="section-title">
                        <p class="text-left">Related content</p>
                    </div>
                    <div class="related-content-section d-flex row">
                        <div class="related-content-item col-6">
                            <img src="images/related-1.png" alt="">
                        </div>
                        <div class="related-content-item col-6">
                            <img src="images/related-2.png" alt="">
                        </div>
                        <!-- <div class="related-content-item col-12">
                            <img src="images/related-3.png" alt="">
                        </div> -->
                    </div>
                </div>
                <% } %>
    </div>




    <%- include('partials/footer') %>