<%- include('partials/header') %>
    <div class="text-center justify-content-center">
        <% if (!user) { %>
            <div class="container splash-page">
                <div class="logo-section">
                    <img class="logo" src="images/logo.jpeg" alt="">
                </div>
                <div class="get-started-section"></div>
            </div>
            <% } else { %>
                <div class="upper-bg">
                    <h4 class="text-left">Welcome back, <%= user.name %>
                    </h4>
                    <!-- <div class="container row text-left m-0">
                        <div class="col-12 bg-light mb-5">
                            <h5>Favourites</h5>
                            <div class="favourite row col-12">
                                <div class="favourite_item col-3"></div>
                                <div class="favourite_item col-3"></div>
                                <div class="favourite_item col-3"></div>
                            </div>
                        </div>
                        <div class="col-12 bg-light">
                            <h5>Relevant content</h5>
                            <div class="relevant_content"></div>
                        </div>
                    </div> -->
                </div>
                <% } %>
    </div>




    <%- include('partials/footer') %>