body {
  padding: 50px;
  font: 18px 'Josefin Sans', sans-serif , Helvetica, Arial, sans-serif;
}

.container > img {
  width: 90vw;
}

li {
  list-style: none;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: rgb(153, 237, 209);
  }