:root {
  --light-grey: #A5A4AC;
  --teal: #7A8D9A;
  --tan: #D0C7C5;
  --dark-grey: #676775;
  --peach: #CD9691;
  --font: 18px 'Josefin Sans', sans-serif, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  /* padding: 50px; */
  font: var(--font);
  margin: 0;
  height: 100vh;
  line-height: 2rem;
  background-color: var(--tan);
}

nav {
  height: 5%;
}

main {
  height: 85%;
  scroll-behavior: smooth;
  overflow: scroll;
}

.container {
  height: 100%;
}

.logo {
  border-radius: 50%;
}


footer {
  background-color: var(--light-grey);
  height: 10%;
}

footer a {
  color: black;
}

.container>img {
  width: 80vw;
}

li {
  list-style: none;
}


.btn-color {
  background-color: var(--peach);
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

/* tabs  */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* tabs END */


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: rgb(153, 237, 209);
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: start;
  align-items: center;
  filter: grayscale();
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.body_dark {
  background-color: rgb(88, 139, 122);
  color: white;
}