<%- include('../partials/header') %>

<form id="add-routine-form" action="/routines" method="POST">
    <label>Title</label>
    <select name="name">
        <option value="Morning Routine">Morning Routine</option>
        <option value="Evening Routine">Evening Routine</option>
        <option value="Detox Routine">Detox Routine</option>
    </select>
    <select name="backbend"></select>
    <select name="forwardbend"></select>
    <select name="twist"></select>
    <input type="submit" value="Add Routine">
</form>

<%- include('../partials/footer') %>
