<%- include('../partials/header') %>


<div class="container">
    <form id="add-routine-form" action="/routines/new" method="POST">
        <label>Name:</label>
        <select name="name">
            <option value="Morning">Morning Routine</option>
            <option value="Evening">Evening Routine</option>
            <option value="Detox">Detox Routine</option>
        </select></br>
        <label for="">Backbends:</label>
        <select name="backbend">
            <option value=""></option>
        </select></br>
        <label for="">Forwardbends:</label>
        <select name="forwardbend">
            <option value=""></option>
        </select></br>
        <label for="">Twists:</label>
        <select name="twist">
            <option value=""></option>
        </select></br>
        <input class="btn btn-color btn-lg mt-5 rounded-pill" type="submit" value="Add Routine">
    </form>
</div>
<hr>

<%- include('../partials/footer') %>
